<ion-content>
    <ion-icon name="md-close" class="close-icon text-white" (click)="dismissX()"></ion-icon>
    <ion-card>
        <h6 class="text-theme">Trip Details</h6>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/userPicture.png">
            </ion-avatar>
            <div class="name">
                <h2>{{reserve.driver.name|titlecase }} {{reserve.driver.lastname|titlecase }}
                <ion-icon  *ngIf='reserve.driver.verifiedPerson' name="ios-checkmark-circle" class="text-theme"></ion-icon>
                </h2>
                <p>{{reserve.car}}</p>
            </div>
        </ion-item>
        <ion-card-content>
            <div class="ride-detail">
                <p><small>Pick up</small>
                    <span class="icon-location bg-theme"></span>{{reserve.origin[0]}}</p>
                <p>
                    <small>Drop off</small>
                    <span class="icon-location bg-yellow"></span>{{reserve.destination[0]}}</p>
            </div>
        </ion-card-content>

        

        <ion-card-content>
            <div class="seats">
                <ion-row class="center">
                    <div class="rate"> $ {{reserve.price}}</div>
                        
                   
                    
                </ion-row>
            </div>
                <button class="btn bg-theme text-white rounded" (click)="goToRide()" *ngIf="hideButton" style="width: 100%;margin-top: 14px;">CONFIRM DRIVER</button>
                <p  text-center *ngIf="hideText">espera que tu compañero te acepte, si demora mucho presiona la X y escoje otro driver...</p> 
        </ion-card-content>
    </ion-card>
</ion-content>
