<ion-header class="bg-theme">
    <ion-navbar>
        <ion-title class="text-center"></ion-title>
    </ion-navbar>
    <div padding-left padding-right>
        <ion-segment [(ngModel)]="ride">
            <ion-segment-button value="driver">
                Encuentra tu viaje
            </ion-segment-button>
            <ion-segment-button value="group">
                Unete a un grupo
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content class="bg-light" class="hideLongText" style="background-color: rgba(255, 255, 255, 0.959);">

    <ion-row class="center-align bg-white flow-ride">
        <ion-col *ngFor="let originUser of locationOriginUser" class="hideLongText" col-5>
            <h2>Origen</h2> {{originUser}}
        </ion-col>
        <ion-col col-2 text-center>
            <img src="assets/imgs/baseline_compare_arrows_black_36dp.png">
        </ion-col>
        <ion-col *ngFor="let destinationUser of locationDestinationUser" class="hideLongText" col-5>
            <h2>Destino</h2> {{destinationUser}}
        </ion-col>
    </ion-row>
    

 <div [ngSwitch]="ride">
            <ng-container *ngSwitchCase="'driver'">
    <ion-card >
        <ion-item>
            <ion-avatar item-start>
                <img style="height:70px; width: 70px;" src="assets/imgs/carBlue.png">
            </ion-avatar>
            <div class="name">
                <h2>Daniel Altamar
                    <ion-icon  name="ios-checkmark-circle" class="text-theme"></ion-icon>
                    <ion-badge class="bg-yellow" style="margin:0px 3px 13px;"> Bancolombia</ion-badge>

                </h2>

                <p>Mazda | KHX089 | Plateado</p>

            </div>
            <div class="more">
                <h2 class="text text-theme">
                    $ 3800
                </h2>

            </div>
        </ion-item>
        <ion-card-content>
            <ion-row class="center-align">
                <h2 class="text text-dark">
                    Hora: 3:05pm
                </h2>
                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                    <button class="btn bg-theme rounded full text-white" style="font-size: 1.5rem;" (click)="confirmpopup(reserve)">Unirme</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ng-container>
<!-- ENCUENTRA TU GRUPO  -->

<ng-container *ngSwitchCase="'group'">
    <div style="display: flex; justify-content: center; margin-top: 15px;">  
          <button class="btn bg-theme rounded full text-white" style="font-size: 1.5rem;" (click)="createGroup()">Crear grupo</button>
    </div>
<H2 style="margin-left: 12px;"> Grupos disponibles</H2>
    <ion-card >
        <ion-item>
            <ion-avatar item-start>
                <img style="height:70px; width: 70px;" src="assets/imgs/carOrange.png">
            </ion-avatar>
            <div class="name">
                <h2 style="font-size:1.8rem;">3 miembros
                    <ion-icon  name="ios-checkmark-circle" class="text-theme"></ion-icon>
                </h2>


            </div>
            
        </ion-item>
        <ion-card-content>
            <ion-row class="center-align">
                <h2 class="text text-dark">
                    Hora: 15:05
                </h2>
                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                    <button class="btn bg-theme rounded full text-white" style="font-size: 1.5rem;" (click)="confirmpopup(reserve)">Unirme</button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ng-container>
        </div> 
        <!-- <div [ngSwitch]="ride">
            <ng-container *ngSwitchCase="'driver'">
                <div style="display: flex;flex-direction: column;width: 96%;">
                    <div [ngSwitch]="noReserve">
                        <img *ngSwitchCase=true src="assets/imgs/noreserveavailable.png">
                        <ion-card *ngFor="let reserve of reservesAvailable">
                            <ion-item>
                                <ion-avatar item-start>
                                    <img style="height:70px; width: 70px;" src="assets/imgs/carBlue.png">
                                </ion-avatar>
                                <div class="name">
                                    <h2>{{reserve.driver.name| titlecase}} {{reserve.driver.lastname| titlecase }}
                                        <ion-icon *ngIf='reserve.driver.verifiedPerson' name="ios-checkmark-circle" class="text-theme"></ion-icon>
                                        <ion-badge class="bg-yellow" style="margin:0px 3px 13px;"> {{reserve.driver.company}}</ion-badge>
    
                                    </h2>
    
                                    <p>{{reserve.car}}</p>
    
                                </div>
                                <div class="more">
                                    <h2 class="text text-theme">
                                        $ {{reserve.price}}
                                    </h2>
    
                                </div>
                            </ion-item>
                            <ion-card-content>
                                <ion-row class="center-align">
                                    <h2 class="text text-dark">
                                        Hora: {{reserve.startHour}}
                                    </h2>
                                    <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                        <button class="btn bg-theme rounded full text-white" style="font-size: 1.5rem;" (click)="confirmpopup(reserve)">Unirme</button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                </div>           
                </div>
            </ng-container>
        </div> -->

        <!-- DEMO -->
       
</ion-content>