<ion-header class="bg-theme">
    <ion-navbar >

        <ion-title class="Title">ESCOGE TU COMPAÑERO
        </ion-title>
    </ion-navbar>

    <ion-row class="center-align bg-theme flow-ride">
            <ion-segment>
                    <ion-segment-button value="nearby" (ionSelect)="nearby()">
                      Cerca de ti
                    </ion-segment-button>
                    <ion-segment-button value="route" (ionSelect)="route()">
                      Pasa por tu ruta
                    </ion-segment-button>
             </ion-segment>
    </ion-row>
    
</ion-header>


<ion-content class="bg-light" class="hideLongText" style="        background-color: rgba(255, 255, 255, 0.959);">
    <!-- <ion-row class="center-align bg-white flow-ride">
        <ion-col *ngFor = "let originUser of locationOriginUser"  class="hideLongText" col-5>
            <h2>Origen</h2> {{originUser}}
        </ion-col>
        <ion-col col-2 text-center>
            <img src="assets/imgs/baseline_compare_arrows_black_36dp.png">
        </ion-col>
        <ion-col *ngFor = "let destinationUser of locationDestinationUser"  class="hideLongText" col-5>
            <h2>Destino</h2> {{destinationUser}}
        </ion-col> 
    </ion-row> -->

    
    
    
    
    <div [ngSwitch]="noReserve" >
        <div *ngSwitchCase=true >
                <img src="assets/imgs/noreserveavailable.png">
                <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                    <ion-refresher-content
                      pullingIcon="arrow-dropdown"
                      pullingText="Pull to refresh"
                      refreshingSpinner="circles"
                      refreshingText="Refreshing...">
                    </ion-refresher-content>
                  </ion-refresher>
        </div>
        


        <div *ngSwitchCase=false>

                <div class="iconHelp">
                        <ion-icon (click)="help()" name="arrow-dropdown-circle"></ion-icon>
                
                    </div>
                <ng-container>
                    
                        <div style="display: flex;flex-direction: column;" *ngIf='showRoute'>
                                <ion-card *ngFor = "let trip of routeTrips">
                                        <ion-item>
                                            <ion-avatar item-start>
                                                <img class="animated infinite pulse" src="assets/imgs/carOrange.png">
                                            </ion-avatar>
                                           
                                            <div class="name">
                                               
                                                <h2>{{trip.driver.name| titlecase}} {{trip.driver.lastname| titlecase }}
                                                    <ion-icon *ngIf='trip.driver.verifiedPerson' name="ios-checkmark-circle" class="text-hot"></ion-icon>
                                                    <ion-badge class="bg-yellow" style="margin:0px 3px 13px;"> {{trip.driver.company}}</ion-badge>
                                                </h2>
                                                <p>{{trip.car}}</p>
                                                
                        
                                            </div>
                                            <div class="more">
                                                <h2 class="text text-hot">                        
                                                 $ {{trip.price}}                          
                                                </h2>
                                               
                                            </div>
                                        </ion-item>
                                        <ion-card-content >
                                          
                                            <ion-row class="center-align">  
                                                <ion-col center text-center col-6 text-right style="margin-left: auto;">
                                                        <h2 class="text text-hot animated infinite pulse">                        
                                                                Viaje en curso                         
                                                             </h2>  
                                                                       
                                                </ion-col>                
                                                
                                                <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                                    <button class="btn bg-hot rounded full text-white" (click)="enterTrip(trip)"style="font-size: 1.5rem;">Unirme</button>
                                                        </ion-col>
                                            </ion-row>
                                        </ion-card-content>
                                    </ion-card>
                        </div>
        
                    <div style="display: flex;flex-direction: column;width: 96%;" *ngIf='showNearby'>
                            <ion-card *ngFor = "let reserve of reservesAvailable">
                                    <ion-item>
                                        <ion-avatar item-start>
                                            <img  style="height:70px; width: 70px;" src="assets/imgs/carBlue.png">
                                        </ion-avatar>                   
                                        <div class="name">                      
                                            <h2>{{reserve.driver.name| titlecase}} {{reserve.driver.lastname| titlecase }} 
                                                <ion-icon  *ngIf='reserve.driver.verifiedPerson' name="ios-checkmark-circle" class="text-theme"></ion-icon>
                                                <ion-badge class="bg-yellow" style="margin:0px 3px 13px;"> {{reserve.driver.company}}</ion-badge>
                    
                                            </h2>
                    
                                            <p>{{reserve.car}}</p> 
                                            
                                        </div>
                                        <div class="more">
                                            <h2 class="text text-theme">                        
                                                $ {{reserve.price}}                         
                                            </h2>
                      
                                        </div>
                                    </ion-item>
                                    <ion-card-content>                  
                                        <ion-row class="center-align">  
                                                    <h2 class="text text-dark">                        
                                                        Hora: {{reserve.startHour}}                             
                                                    </h2>                    
                                            <ion-col center text-center col-4 text-right style="margin-left: auto;">
                                                <button class="btn bg-theme rounded full text-white" style="font-size: 1.5rem;" (click)="confirmpopup(reserve)">Unirme</button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>
                            </div>
               
                    
                </ng-container>


        </div>
        
    </div>
</ion-content>
