<ion-header class="bg-theme">
    <ion-navbar>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/face-1.jpg">
            </ion-avatar>
            <h2><span class="text-white">{{driver.name |titlecase}} {{driver.lastname | slice:0:1 | titlecase}}</span>
                <ion-icon name="md-more" end-item item-end class="text-white"></ion-icon>
            </h2>
        </ion-item>
    </ion-navbar>
</ion-header>

<ion-content padding class="chat-bg">
    <div class="chatbox"*ngFor="let chat of chats">
            <div  class="cb" >        
                    <div>                        
                         <div *ngIf="userUid === chat.uid" class="chat chat-left bg-theme text-white" text-left padding float-right>
                            <!-- its driver message -->
                             <p>{{chat.message}}</p>       
                       </div>                       
                   </div>                    
                </div>
                <div class="cb">            
                    <div>   
                        <div *ngIf="chat.uid === driver.userId" class="chat chat-right bg-white text-dark" text-right padding float-left>  
                         <!-- its user message -->                          
                             <p>{{chat.message}}</p>                            
                         </div>
                    </div>                  
                </div>
    </div>
   
   
</ion-content>
<ion-footer class="fixed-bottom">
        
                <ion-list inset>
                    <ion-item>
                        <ion-input type="text" placeholder="Escribe tu mensaje" [(ngModel)]="message" autofocus (keyup.enter)="sendMessage()"></ion-input>
                  
                       <button class="text-theme" item-right (click)="sendMessage()"> <ion-icon name="md-send" ></ion-icon></button>
                    </ion-item>
                </ion-list>
            
      
  
</ion-footer> 