<ion-header class="bg-theme">
    <ion-navbar>
        <ion-title class="text-center">MI VIAJE</ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="bg-light">

    <div>
        <ion-list>
            <ion-card *ngFor = "let user of pickingUsers">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/userPicture.png">
                    </ion-avatar>
                    <div class="name">
                        <h2>{{user.name | titlecase}} {{user.lastname |titlecase | slice:0:1}}
                            <ion-icon name="ios-checkmark-circle" class="text-theme"></ion-icon>
                        </h2>
                        
                    </div>                   
                    <div class="more">
                        <ion-badge color="bg-yellow">EN ESPERA</ion-badge>
                           
                        
                        

                    </div>
                </ion-item>
                
            </ion-card>
            <ion-card *ngFor = "let user of pickedUpUsers">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/userPicture.png">
                    </ion-avatar>
                    <div class="name">
                        <h2>{{user.name | titlecase}} {{user.lastname |titlecase | slice:0:1}}
                            <ion-icon name="ios-checkmark-circle" class="text-theme"></ion-icon>
                        </h2>
                        
                    </div>
                    <div class="more">
                        <ion-badge color="bg-theme">RECOGIDO</ion-badge>                      
                        

                    </div>
                   
                </ion-item>
                
            </ion-card>

            <!-- repilica -->
            <ion-card *ngFor = "let driver of driverOnTrip">
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/imgs/userPicture.png">
                    </ion-avatar>
                    <div class="name">
                        <h2>{{driver.name|titlecase}} {{driver.lastname |titlecase | slice:0:1}}
                            <ion-icon name="ios-checkmark-circle" class="text-theme"></ion-icon>
                        </h2>
                        <p>{{driver.car}}</p>
                    </div>
                    <div class="more">
                        <h2 class="text-theme" class="priceDriver">$ {{driver.price}}
                        </h2>
                    </div>                
                   
                </ion-item>
                <ion-card-content>
                    <div class="status"><img src="assets/imgs/driverEtiquette.png"></div>
                    <div class="ride-detail">
                        <p>
                            <span class="icon-location bg-theme"></span>{{driver.origin}}</p>
                        <p>
                            <span class="icon-location bg-yellow"></span>{{driver.destination}}</p>
                    </div>
                    <ion-row>
                        <ion-col class="detail-text">
                            
                        </ion-col>
                        <ion-col class="detail-text">
                            
                        </ion-col>
                        <ion-col center text-center>
                            <button class="btn bg-theme rounded full text-white text-bold" (click)="callUser(driver.phone)" ><ion-icon name="ios-call" class="text-white"></ion-icon> LLAMAR</button>
                        </ion-col>
                   
                    </ion-row>
                </ion-card-content>
            </ion-card>    

            <button  class="btn bg-theme text-white rounded"  (click)="cancelTrip()"style="width: 90%;margin-top: 14px;margin-left: 18px;">Cancelar Viaje</button>

        </ion-list>

        <!-- <div *ngSwitchCase="'map'">
           <div #map id="map" ></div>
        </div> -->
             

        
    </div>
</ion-content>
