<ion-header class="bg-theme-driver title">
    <ion-navbar >
        <ion-title >Tus compañeros
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content  style="background-color: rgba(255, 255, 255, 0.959);">

         <ion-card *ngFor = "let member of members">
               <ion-item>
                   <ion-avatar item-start style="border-radius: 0%;">
                    <img  style="height:70px; width: 70px;" src="assets/imgs/userPicture.png">
                </ion-avatar>
                   <div class="name">
                       <h2>{{member.name |titlecase}} {{member.lastname | titlecase}}.
                         <ion-icon  name="ios-checkmark-circle" class="text-darkblue"></ion-icon>
                       </h2>

                         <ion-badge class="bg-yellow" style="margin:0px 3px 13px;"> {{member.company}}</ion-badge>
                    </div>
                   <div class="more" item-end>
                           <ion-icon name="md-more" *ngIf="isAdmin" (click)="presentActionSheet(member.userId,member.name)"></ion-icon>
                   </div>
               </ion-item>
               <ion-card-content>
                   <div class="ride-detail">
                       <p><small></small>
                           <span class="icon-location bg-theme-driver"></span>{{member.origin.name}}</p>
                       <p><small></small>
                           <span class="icon-location bg-yellow"></span>{{member.destination.name}}</p>
                   </div>
                   
               </ion-card-content>         
         

           </ion-card>
           <div style=" display: flex; justify-content: center;">
            <button (click)="cancelReserve()" *ngIf="isAdmin" class="btn bg-theme-driver text-white rounded" > Eliminar Reserva </button>

           </div>

 </ion-content>

 