<ion-content>

    <ion-icon name="md-close" class="close-icon text-white" (click)="dismiss()"></ion-icon>
    <ion-card>
         <img src="assets/imgs/compaes.png" width="100px" style="display:inline-block" height="150px"/>
        
       <ion-item  *ngFor="let passenger of passengers"   >
          <ion-avatar item-start>
             <img src="assets/imgs/userPicture.png">
          </ion-avatar>
          <div class="passenger">
                     <div  class="name">
                           <h2 *ngIf="passenger.userId === userUid; else itsNotMeBlock" (click) = "showProfilePassegner(passenger)" style="font-size:1.5rem;"> Yo
                                 <ion-icon name="ios-checkmark-circle" class="text-green"></ion-icon>  
                              </h2>
                                  <!-- <h5>{{passenger.about | 9 }}...</h5> -->
                                  <ng-template #itsNotMeBlock >
                          
                                       <h2>{{passenger.name |titlecase}} {{passenger.lastname  |titlecase }}. 
                                          <ion-icon  *ngIf='passenger.verifiedPerson' name="ios-checkmark-circle" class="text-theme"></ion-icon>
                                       </h2>
      
                                       <!-- <h5>{{passenger.about | 9}}...</h5> -->
                               
                           </ng-template >
                     </div>  
                     
          </div>
          
        
       </ion-item>
   
       <ion-card-content>
          <div class="ride-detail no-before">
               
                     <p>Aquellos que tengan el <ion-icon name="ios-checkmark-circle" class="text-theme" style="margin:1px"></ion-icon> significa que están verificados como estudiantes con correo universitario o han enviando foto de cédula/carnet. </p>
                     
                 
             
          </div>
          <div class="seats">
             
               <ion-row style="margin-top: 14px;   display: flex;
               justify-content: center">
                              <button class="btn bg-red rounded full text-white cancelbutton" (click)="cancelReserve()">Cancelar viaje</button>
  
                  
               </ion-row>
            </div>
      
          
       </ion-card-content>
      
    </ion-card>

 </ion-content>