<ion-content>
    <ion-card>
            <img src="assets/imgs/picmodales.png" width="100px" style="display:inline-block" height="150px"/>
            <ion-icon name="close-circle" class="close-icon text-white"  (click)="dismiss()"></ion-icon>

        <ion-card-content>
            <div class="ride-detail">
                    <p *ngIf= 'itsSchedule'> The price you set here is the one that every passenger will be paying you at the end of the trip </p>

                <ion-item class="form">
                    <ion-label floating>Price per passenger</ion-label>
                    <ion-input type="number" [(ngModel)]="precio"></ion-input>
                  </ion-item>                
            </div>
        </ion-card-content>

        <ion-card-content>
            <!-- <div class="ride-detail no-before">
                <p><small>Recuerda:</small>
                    <ion-icon name="md-calendar" class="icon-location"></ion-icon>
                  - Precio Recomendado: 2500 </p>
        
                <p>- Tus compañeros te pagarán en efectivo, evita colocar precios que requieran mucho vuelto, lleva dinero suficiente para dar vueltas.</p>
            </div> -->
        </ion-card-content>
        <ion-card-content>
                <p *ngIf = 'noCarAvailable'>No tienes ningún carro registrado aún, <span style="font-weight: bold; color: red; text-decoration: underline red" (click) = 'goToSetCars()' >hazlo aquí</span> </p>
                <ion-row style="margin-top: 14px;    display: flex;
                justify-content: center">
                   <ion-list>
                        <ion-item>
                          <ion-label>Choose your car:</ion-label>
                          <ion-select [(ngModel)]="car">
                                <ion-option *ngFor="let car of carModelList" >{{car.carModel}} | {{car.plateNumber}} | {{car.color}}</ion-option>
                       
                          </ion-select>
                        </ion-item>
                      </ion-list>
                </ion-row>
                
               
       
            <div class="seats">
                
                <ion-row style="margin-top: 14px;    display: flex;
                justify-content: center">
                   
                    <ion-col col-8>
                        <button class="btn bg-theme-driver text-white rounded" style="width: 100%;font-size: 1.2rem;" (click)="setPriceDriver()">Go Online</button>
                    </ion-col>
                </ion-row>
               

            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
