<ion-header class="bg-theme">
  <ion-navbar>
      <ion-title class="text-center">Especifica tu ruta</ion-title>
  </ion-navbar>
  
</ion-header>




<ion-content  padding>
      <h5 class="text-theme-driver" style="font-weight: bold;">Cóloca tu ruta diaria al trabajo</h5>
      <ion-card class="search">
      
          <ion-card-content>
              <span class="dot bg-theme"></span>
              <ion-searchbar required [(ngModel)]="autocompleteMyPos.input" [animated]=true (ionInput)="updateSearchResultsMyPos()"  placeholder="Tu origen"></ion-searchbar>
            
              <ion-list   [hidden]="autocompleteItems.length == 0">
                  <ion-item  *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResultMyPos(item)">
                    {{ item.description }}
                  </ion-item>
                </ion-list>
                <!-- <ion-icon name="md-locate" (click)="getPositionAndMarker()" class="text-black"></ion-icon> -->
          </ion-card-content>
          <ion-card-content>
              <span class="dot bg-yellow"></span>           
             <ion-searchbar required [(ngModel)]="autocompleteMyDest.input" (ionInput)="updateSearchResultsMyDest()" placeholder="Tu destino"></ion-searchbar>
  
              <ion-list   [hidden]="autocompleteItems2.length == 0">
              <ion-item class="item" *ngFor="let item of autocompleteItems2" tappable (click)="selectSearchResultMyDest(item)">
                {{ item.description }}
              </ion-item>
            </ion-list>
              <!-- <span class="text-light search-text">Office &nbsp;<ion-icon name="ios-arrow-down" class="text-light"></ion-icon></span> -->
  
          </ion-card-content>
          
      </ion-card>
      <!-- <ion-avatar item-end>
          <img style="height: 15%; width: 15%;" src="assets/imgs/centermap.png" (click)="centerMap()">
      </ion-avatar> -->
      <div style="display: flex; justify-content: center;">    
          <button class="btn text-white bg-theme-driver rounded" style="width: 80%;" (click)="sendLocation()">Listo</button>
      </div>
   <div #map id="map"></div>  
</ion-content>

